@font-face{
    font-family: 'gutcruncherregular';
    src: url('fonts/gutcruncher-webfont.woff2') format('woff2'),
         url('fonts/gutcruncher-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/**********************/
/* Pour tout le site */
/**********************/
html{
    height: 100%;
}

body{
    font-family: 'gutcruncherregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 100%;
}

table > thead > tr {
    text-align: center;
}

table > tbody > tr {
    text-align: center;
}

div.bodyBlock {
    margin: 30px;
    height: 100%;
    
}

div.bodyBlock::after{
    content: "";
    background: url('../public/Ligue_tenaille1.png');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div.evidence {
    font-weight: bold;
}
/*************************/
/* Calendrier de saison */
/*************************/
table.planning > tbody > tr > td {
    width: 50%;
    border-color: black;
}

td.victoire {
    background-color: #99cc99;
    font-weight: bold;
}

td.defaite {
    background-color: #ff9999;
}

td.nul {
    background-color: #dba9a9;
}

div.affichageJournee {
    display: inline-block;
    width : 32%
}
/******************************/
/* enregistrement des matchs */
/******************************/
select > option.match_joue {
    background-color: #99cc99;
}

select > option.match_non_joue {
    background-color: #ff9999;
}

div.saisie_match {
    display: inline-block;
    width: 49%;
}
/******************************/
/* classement */
/******************************/
table.resultat > tbody > tr > td {
    width: 20%;
    border-color: black;
    font-size: 1.2em;
}





