{# TODO : colorisation du gagnant dans le tableau #}
    {% for key, journee in saison %}
    <div class="affichageJournee">
        <table class="planning">
        <th colspan = 2> {{ key }} </th>
        {% for rencontre in journee %}
            <tr>
                <td> {{ rencontre.coach1.name }} </td>
                <td> {{ rencontre.coach2.name }} </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endfor %}